<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}> </div>
<{* TODO template db: and custom icon set *}>


<{if $mod_config.show_breadcrumbs}>
    <ul class="breadcrumb" aria-label="breadcrumb">
        <li>
            <a href="<{$xoops_url}>/">
                <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" alt=""></a>
        <li>
            <a aria-current="page" href="<{$mod_url}>/index.php">
                <img class="svg forum" src="<{$xoops_url}>/images/icons/forum_1.svg" alt=""> <{$smarty.const._MD_D3FORUM_TOP}></a>
    </ul>
<{/if}>


    <{* ------- Top Message *}>

    <section layout="column my-4 sm-first" id="top-message">

        <div self="left">
            <{$mod_config.top_message}>
        </div>


        <{* ------- Activity Overview *}>
        <footer layout="row center-justify p-2 my-2" class="activity">
            <div self="inline">
            <div self="px-4"><{$smarty.const._MD_D3FORUM_TOTALTOPICSCOUNT}> <span class="badge"><{$total_topics_count}></span></div>
            <div self="px-4"><{$smarty.const._MD_D3FORUM_TOTALPOSTSCOUNT}> <span class="badge"><{$total_posts_count}></span></div>
            <div self="px-4"><{$smarty.const._MD_D3FORUM_TIMENOW}> <span class="badge"><{$currenttime_formatted}></span></div>
            <div self="px-4"><{$smarty.const._MD_D3FORUM_LASTVISIT}> <span class="badge"><{$lastvisit_formatted}></span></div>
            </div>

            <a self="pr-2" href="<{$mod_url}>/index.php?page=rss&amp;cat_ids=0&amp;odr=1" aria-label="<{$smarty.const._MD_D3FORUM_LINK_ALLRSS}> ">
                <img class="svg rss" src="<{$xoops_url}>/images/icons/rss.svg" alt="RSS">
            </a>
        </footer>
        <{* ------- /Activity Overview *}>


    </section>



    <{* ------- Admin Action *}>
    <section class="admin-action" layout="row center-right">
        <{if $xoops_isadmin}>
        <a self="ml-2" class="ui-button" href="<{$mod_url}>/index.php?page=makecategory">
            <img class="svg folder-plus" src="<{$xoops_url}>/images/icons/folder-plus.svg"> <{$smarty.const._MD_D3FORUM_LINK_MAKECATEGORY}>
        </a>
        <{/if}>
        <a self="right" class="ui-button" href="<{$mod_url}>/index.php?cat_ids=0">
            <img class="svg list-tree" src="<{$xoops_url}>/images/icons/list-tree.svg"> <{$smarty.const._MD_D3FORUM_LISTALLTOPICS}>
        </a>
    </section>




    <{* ------- Top Categories List *}>

    <{foreach item="category" from=$top_categories}>

        <{if $category.subcategories or $category.forums or $xoops_isadmin}>

        <section layout="column my-6" class="top-category">

            <h2>
                <a href="<{$mod_url}>/index.php?cat_id=<{$category.id}>">
                <img class="svg category_<{$category.bit_new}>" src="<{$xoops_url}>/images/icons/category_<{$category.bit_new}>.svg" aria-label="<{$category.title}>" alt="<{$category.id}>">
                    <{$category.title}>
                </a>
            </h2>

            <{if $category.desc}>
                <div layout="row" class="category-desc">
                    <p><{$category.desc}></p>
                </div>
            <{/if}>


            <{* ------- Activity Overview - Category *}>
            <footer layout="row center-justify p-2 my-4" class="activity">
                <div self="inline">
                    <div>
                    <{include file="db:`$mydirname`_inc_moderators.html" target=$category}>
                    </div>
                <div><{$smarty.const._MD_D3FORUM_TOTALTOPICSCOUNT}>: <span class="badge"><{$category.topics_count_in_tree}></span></div>
                <div><{$smarty.const._MD_D3FORUM_TOTALPOSTSCOUNT}>: <span class="badge"><{$category.posts_count_in_tree}></span></div>
                <{if $category.last_post_time}>
                <div><{$smarty.const._MD_D3FORUM_LASTPOST}>: <span class="badge"><{$category.last_post_time_formatted}></span></div>
                <{/if}>
                </div>

                <{* RSS *}>
                <a self="pr-2" href="<{$mod_url}>/index.php?page=rss&amp;cat_ids=<{$category.id}>&amp;odr=1" aria-label="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYRSS}>">
                    <img class="svg rss" src="<{$xoops_url}>/images/icons/rss.svg">
                </a>
            </footer>
            <{* ------- /Activity Overview - Category *}>



            <{* ------- Subcategories List *}>

            <{if $category.subcategories}>

                <{* include file="$xoops_theme/templates/$mydirname/inc_category_subcategories.html" *}>
            <{include file="`$smarty.const.XOOPS_TRUST_PATH`/modules/d3forum/templates/inc_category_subcategories.html"}>

            <{/if}>



            <{* ------- Forums List *}>

            <{if $category.forums}>

                <{* include file="$xoops_theme/templates/$mydirname/inc_category_forums.html" *}>
            <{include file="`$smarty.const.XOOPS_TRUST_PATH`/modules/d3forum/templates/inc_category_forums.html"}>

            <{/if}>



            <div layout="rows center-justify">

                <{* ////— ACTION-CONTROL —\\\\ *}>
                <section self="size-x1 inline sm-full" class="action-control" role="group" aria-label="Actions">

                <{if $xoops_isadmin}>
                <a class="ui-button" href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>">
                    <img class="svg edit" src="<{$xoops_url}>/images/icons/edit.svg">
                    <span self="sm-hide"><{$smarty.const._MD_D3FORUM_LINK_CATEGORYMANAGER}></span></a>
                <a class="ui-button" href="<{$mod_url}>/index.php?page=makecategory&amp;cat_id=<{$category.id}>">
                    <img class="svg folder-plus" src="<{$xoops_url}>/images/icons/folder-plus.svg">
                    <span self="sm-hide"><{$smarty.const._MD_D3FORUM_LINK_MAKESUBCATEGORY}></span></a>
                <{/if}>

                    <{if $category.can_makeforum}>
                    <a class="ui-button" href="<{$mod_url}>/index.php?page=makeforum&amp;cat_id=<{$category.id}>">
                        <img class="svg forum-plus" src="<{$xoops_url}>/images/icons/topic_plus.svg"> <span self="sm-hide"><{$smarty.const._MD_D3FORUM_LINK_MAKEFORUM}></span></a>
                    <{/if}>

                </section>


            <a class="ui-button" href="<{$mod_url}>/index.php?cat_ids=<{$category.id}>">
                <img class="svg list-tree" src="<{$xoops_url}>/images/icons/list-tree.svg"> <{$smarty.const._MD_D3FORUM_LISTTOPICSINCATEGORY}></a>


            </div>
            <{* ------- /Admin Manager *}>


        </section>

        <{/if}>

    <{/foreach}>

    <{* ------- /Top Categories list *}>


<hr>


<{* ------- Forum icon legend *}>
<h4 id="forum-icons-legend">
    <img class="svg help" src="<{$xoops_url}>/images/icons/info.svg" width="1em" height="1em" alt="Legend">
    <input class='switch' type='checkbox' id='forum-legend' onclick="slideToggle('.forum-legend', this)" value='0'>
    <label for='forum-legend'> <{$smarty.const._MD_D3FORUM_LEGEND}></label>
</h4>

<div class="forum-legend" style="display:none">
    <ul class="d3f_iconexp">
        <li><img class="svg category" src="<{$xoops_url}>/images/icons/category_0.svg"> = <{$smarty.const._MD_D3FORUM_ALT_NONEWPOSTS}> <{$smarty.const._MD_D3FORUM_SUFFIX_UNDERTHISCATEGORY}></li>
        <li><img class="svg category" src="<{$xoops_url}>/images/icons/category_1.svg"> = <{$smarty.const._MD_D3FORUM_ALT_NEWPOSTS}> <{$smarty.const._MD_D3FORUM_SUFFIX_UNDERTHISCATEGORY}></li>
        <li><img class="svg forum" src="<{$xoops_url}>/images/icons/forum_1.svg" alt=""> = <{$smarty.const._MD_D3FORUM_ALT_NEWPOSTS}></li>
        <li><img class="svg forum" src="<{$xoops_url}>/images/icons/forum_0.svg" alt=""> = <{$smarty.const._MD_D3FORUM_ALT_NONEWPOSTS}></li>
    </ul>
</div>


<{include file='db:legacy_notification_select.html'}>


<hr>

<{* ----- Forum jump-box *}>
<section name="jump-box">
    <form name="forum_jump_box" action="<{$mod_url}>/index.php" method="get" class="form-inline">
        <input type="hidden" name="page" value="forum_access">
        <select name="forum_id" id="select_forum_id"><{$forum_jumpbox_options}></select>
        <button type="submit" class="ui-button" value="<{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}>"><{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}></button>
        <a class="ui-button" href="<{$mod_url}>/index.php?page=search">
            <img class="svg search" src="<{$xoops_url}>/images/icons/search.svg"> <{$smarty.const._MD_D3FORUM_LINK_ADVSEARCH}></a>
    </form>
</section>
